{
    "presets": [
        "@babel/env",
        "@babel/typescript",
        "targets": {browsers: ['ie >= 7'
            ]
        }
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}